@import "_material";

* {
  box-sizing: border-box;
}

.page-content {
  padding-left: 80px;
}

.widget-container {
  display: flex;
  height: 100%;
  padding: 20px 0;
}

.widget {
  box-shadow: 0 0 2px 0 #000;
  min-width: 250px;
  min-height: 250px;
  padding: 10px;
}
